    @media (max-width: 800px) {

        .sito-about {
            padding: 0;
            text-align: left;
            height: 100% !important;
        }
        
        .about {
            top: -30px;
        }
        
            .shop-sub-about {
        transform: translate(0, -38px);
    }
    }

    @media (max-width: 360px) {

        .sito-about {
            padding: 0;
            text-align: left;
            height: 100% !important;
        }
        
        .about {
            top: 10px;
        }
        
            .shop-sub-about {
        transform: translate(0, -40px);
    }
    }
