
html,
body {
    background-color: #fae6d2!important;
    overflow: hidden!important;
    color: #fb8f67!important;
}

a {
    color: #fb8f67!important;
}

.colore-icon {
    fill: #fb8f67!important;
}