 .illustrazioni {
     margin-top: 69px;
     width:100%;
     padding: 32px 32px 0 32px;

 }

 .illustrazioni-home {
     border: 0.5px solid;
     width:100%;
 }


.descrizione{
    border-bottom: 0.5px solid;
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    margin-bottom: 32px;
    padding: 16px;
    display: flex;
}


/*MOBILE*/

@media (max-width: 900px) {


    


    .row{
        display: block;
    }

    
    
    
    
}
