body {
    background:
        linear-gradient(45deg, hsla(16, 95%, 69%, 1) 0%, hsla(16, 95%, 69%, 0) 50%),
        linear-gradient(135deg, hsla(75, 48%, 75%, 1) 40%, hsla(75, 48%, 75%, 0) 80%),
        linear-gradient(225deg, hsla(258, 19%, 59%, 1) 40%, hsla(258, 19%, 59%, 0) 100%),
        linear-gradient(315deg, hsla(16, 95%, 69%, 1) 100%, hsla(16, 95%, 69%, 1) 50%);
    background-size: 170% 170%;
    animation: gradient 10s ease infinite;
    z-index: 0;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        pointer-events: none;
                        -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
    }
    50% {
        background-position: 100% 50%;
         pointer-events: none;
                        -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
    }
    100% {
        background-position: 0% 50%;
         pointer-events: none;
                        -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
    }
}