.container-fluid {
    margin-top: 69px;
    padding-right: 0;
    padding-left: 0;
    display: flex;
}

.illustrazioni-home {
    width: 100%;
    outline: 1px solid;
}

.testo,
.footer {
    margin: 32px 32px 16px 32px;
    width: 45%;
    position: fixed;
}

.illustrazioni {
    right: 0;
    width: 50%;
    position: absolute;
    border: 1px solid;
}

.illustrazioni-mobile {
    display: none;
}


/*MOBILE*/

@media (max-width: 900px) {

    .container-fluid {
        margin-top: 69px;
        padding-right: 0;
        padding-left: 0;
    }

    .block {
        display: inline-block;
    }

    .testo {
        width: auto;
        position: relative;
    }

    .illustrazioni {
        display: none;
    }

    .footer {
        width: 100%;
        position: relative;
        padding: 16px 0 16px 0;
        margin: 48px 0 0 0;
        z-index: 0;
    }

    .illustrazioni-mobile {
        display: inline-flex;
        white-space: nowrap;
        overflow-x: scroll;
        width: 100vw;
        border: 1px solid;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .ill-mob {
        display: inline-flex;
        width: auto;
        height: 170px;
        outline: 1px solid;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .ill-mob::-webkit-scrollbar {
        display: none;
    }

    .illustrazioni-mobile::-webkit-scrollbar {
        display: none;
    }

    .lun{
        left: -1px;
    }

}
