.container-fluid {
    margin-top: 69px;
    padding-right: 0;
    padding-left: 0;
    display: flex;
}

.illustrazioni-home {
    width: 100%;
    outline: 1px solid;
}

.testo,
.footer {
    margin: 32px 32px 16px 32px;
    width: 45%;
    position: fixed;
}

.illustrazioni {
    right: 0;
    width: 50%;
    position: absolute;
    border: 1px solid;
}


/*MOBILE*/

@media (max-width: 900px) {

    .container-fluid {
        margin-top: 69px;
        padding-right: 0;
        padding-left: 0;
    }

    .block {
        display: inline-block;
    }

    .testo {
        width: auto;
        position: relative;
    }

    .illustrazioni {
        right: 0;
        width: auto;
        position: relative;
        border: 1px solid;
    }

    .footer {
        width: 100%;
        position: relative;
        padding: 16px 0 16px 0;
        margin: 48px 0 0 0;
        z-index: 0;
    }

}
