.container-fluid {
    padding-right: 0;
    padding-left: 0;
    display: flex;
}

.testo {
    margin: 101px 64px 0px 32px;
    padding-bottom: 48px;
    left: 0;
    position: relative;
}

.illustrazione-container {
    right: 0;
    width: 100%;
    position: relative;
}

.placeholder {
    position: relative;
    height: 100vh;
    padding-top: 0px;
    padding-right: 0;
    right: 0;
    border: 1px solid;
    opacity: 0;

}

.illustrazione {
    position: fixed;
    height: 100vh;
    padding-top: 0px;
    padding-right: 0;
    right: 0;
    border: 1px solid;
}

.rec {
    height: 69px;
}

.gallery {
    letter-spacing: -.2em;
    font-size: 30px;
    text-align: end;
}

.freccia-dx {
    text-align: center;
}

.freccia-dx,
.freccia-sx,
.gallery {
    transition-duration: 0.5s;
}

.freccia-sx:hover {
    transform: translate(-4px, 0);
}

.freccia-dx:hover {
    transform: translate(4px, 0);
}

.freccie {
    margin-bottom: 8px;
    padding-top: 12px;
}

/*MOBILE*/

@media (max-width: 900px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-fluid {
        display: block;
    }

    .illustrazione {
        position: relative;
        width: 100vw;
        height: auto;
        margin-top: 69px;
    }

    .placeholder {
        display: none;
    }

    .testo {
        margin: 32px 32px 0px 32px;
        width: auto;
        left: 0;
        position: relative;
    }

    .illustrazione-container {

        position: relative;
    }

    .freccia-dx {
        position: absolute;
        right: 0;
    }

    .freccia-sx {
        position: absolute;
        left: 0;
    }

    .gallery {
        position: relative;
        width: 30px;
        left: -3px;
        margin: 0 auto;
        top: -12px;
    }

    .freccie {
        margin-bottom: 32px;
        padding-top: 0px;
    }
    
    }

}
