 input {
     color: #fff;
     text-align: center;
     padding: 9px 10px 10px 10px;
     border: 1px solid #FFF;
     cursor: text;
     background-color: rgba(255, 255, 255, 0.3);
     -webkit-border-radius: 0;
     border-radius: 0;
     -webkit-outline: none;
     outline: none;
     -webkit-box-shadow: none;
     box-shadow: none;
 }


 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus {
     -webkit-border: 1px solid $borderColor;
     -webkit-text-fill-color: #fff;
     -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
     -webkit-transition: background-color 5000s ease-in-out 0s;
 }

 ::placeholder {
     color: #fff;
     opacity: 1;
 }

 :-ms-input-placeholder {
     color: #fff;
 }

 ::-ms-input-placeholder {
     color: #fff;
 }



 .mail-form {
     display: inline-flex;
 }

 .mc-field-group {
     margin-right: 20px;
 }

 .margin-bottom-10 {
     margin-bottom: 10px;
 }

 .bottone-invio {
     text-align: center;
     display: inline-block;
     padding: 9px 35px 10px 35px;
     border: 1px solid #FFF;
     cursor: pointer;
     transition-duration: 0.5s;
     background-color: rgba(255, 255, 255, 0);
 }

 .bottone-invio:hover {
     color: #fff;
     background-color: rgba(255, 255, 255, 0.3);
     transform: translate(5px, 0);
 }

 @media (max-width: 800px) {

     .mail-form {
         display: inline-block;
     }

     .mc-field-group {
         margin-right: 0px;
         margin-bottom: 15px;
     }

 }
