.mail-form {
    display: inline-flex !important;
}

.mc-field-group {
    margin-right: 20px;
}

input {
    color: #fff;
    text-align: center;
    padding: 9px 10px 10px 10px;
    border: 1px solid #FFF;
    cursor: text;
    background-color: rgba(255, 255, 255, 0.3);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-border: 1px solid $borderColor;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) 
}

textarea:focus,
input:focus {
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    -webkit-outline: none;
    outline: none;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

*:focus {
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    -webkit-outline: none;
    outline: none;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.bottone-invio {
    text-align: center;
    display: inline-block;
    padding: 9px 35px 10px 35px;
    border: 1px solid #FFF;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgba(255, 255, 255, 0);
}

.bottone-invio:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(5px, 0);
}


/*LOADING*/
@keyframes loading {
    0% {
        max-height: 0;
    }
}

#loading {
    width: 100%;
    height: 100vh;
    opacity: 1;
    background-color: #F5F4F4;
    background-image: url("bg_white.png");
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
}

.loading-kj {
    font-size: 4rem;
    font-family: 'Noe-Display';
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -30px;
    color: transparent;
    background: linear-gradient(to bottom, #d0c8e3, #ddebb1, #fbc392);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 65px;
    z-index: 10000;
    cursor: default;
    overflow: hidden;
}

.loading-kj:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-height: 80px;
    -webkit-text-stroke: 1px #F5F4F4;
    white-space: nowrap;
    color: #F5F4F4;
    -webkit-animation: loading 1s linear reverse infinite;
    z-index: 10000;
    cursor: default;
}


/*NAV*/

.nav {
    margin: 1rem 2rem 1.5rem 2rem;
    z-index: 2000;
}

.nav-right {
    display: inline-flex;
}

.nav-link {
    margin-top: 10px;
}

.navigazione {
    color: #fff;
    transition-duration: 0.5s;
    border-bottom: 1px solid transparent;
}

.navigazione:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    transform: translate(0, 3px);
}

.footer {
    padding: 8px 16px;
}


/*GENERALE*/

html,
body {
    overflow: hidden;
}

.sito {
    height: 100vh;
    margin: 0 auto;
    padding: 3rem 0.5rem;
    text-align: center;
    transition-duration: 1s;
    transition-delay: 1s;
}

a:hover {
    text-decoration: none;
}

.karla-small {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;
    line-height: 1.2;
}

.karla-medium {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.2;
}

.noe-big {
    font-size: 3rem;
    line-height: 1.05;
    font-family: 'Noe-Display';
    color: #fff;
}

.logo {
    font-size: 3rem;
    font-family: 'Noe-Display';
    margin: 0 auto;
    color: #fff;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.frase-iniziale {
    padding: 15% 15% 4% 15%;
    z-index: 0;
}

.frase-karla {
    padding: 0 15%;
}

.about {
    padding: 0% 20% 4% 20%;
    margin-top: 120px;
    text-align: left;
}

.shop {
    cursor: default;
    color: #fff;
}

.shop:hover {
    color: #fff;
}

.shop-sub {
    opacity: 0;
}

.copy {
    display: inline-flex;
}

.instagram {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.bottone-off {
    text-align: center;
    display: inline-block;
    padding: 9px 35px 10px 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFF;
    cursor: default;
}

.bottone-off:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(0px, 0);
    cursor: default;
}

.bottone {
    text-align: center;
    display: inline-block;
    padding: 9px 35px 10px 35px;
    border: 1px solid #FFF;
    cursor: pointer;
    transition-duration: 0.5s;
}

.bottone:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transform: translate(5px, 0);
}

.couponcode:hover .coupontooltip {
    display: block;
    cursor: default;
}

.coupontooltip {
    display: none;
    position: absolute;
    z-index: 1000;
    font-size: 0.7rem;
    color: #fff;
}


@media (max-width: 800px) {

    .logo {
        font-size: 2.5rem;
        font-family: 'Noe-Display';
        margin: 0 auto;
        color: #fff;
    }

    .sito {
        padding: 0;
        text-align: left;
        height: 100vh;
    }

    .noe-big {
        font-size: 2.5rem;
        line-height: 1.05;
        font-family: 'Noe-Display';
        color: #fff;
    }

    .copy {
        text-align: left;
        display: block;
    }

    .karla-small {
        font-size: 0.7rem;
    }

    .karla-medium {
        font-family: 'Karla', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        color: #fff;
        line-height: 1.2;
    }

    .poesia {
        font-family: 'Karla', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        color: #fff;
        line-height: 1.2;
    }

    .shop {
        text-decoration: line-through;
    }

    .shop:hover {
        text-decoration: line-through;
    }

    .couponcode:hover .coupontooltip {
        visibility: hidden;
        display: none;
    }

    .coupontooltip {
        visibility: hidden;
        display: none;
    }

    .shop-sub {
        opacity: 1;
        text-align: left;
        margin: 3rem 1.5rem;
        left: 0;
        transform: translate(0, 36px);
    }

    .form-off {
        transform: translate(0, -12px);
    }

    .shop-sub-about {
        transform: translate(0, -46px);
    }

    .frase-iniziale {
        padding: 120px 40px 30px 40px;
        text-align: left;
    }

    .frase-noe {
        display: flex;
    }

    .nav {
        margin: 1rem 1.5rem;
        z-index: 2000;
    }

    .frase-karla {
        padding: 0 0;
    }

    .bottone-home {
        margin: 0 40px;
    }

    .nav-link {
        margin-top: 10px;
    }

    .about {
        padding: 0 40px 0 40px;
        margin-top: -40px;
        text-align: left;
        position: relative;
    }

    .footer-about {
        position: relative;
        margin-top: 100px;
    }

    .nav-about {
        position: relative;
        top: 0;
    }

    .mail-form {
        display: inline-block !important;
    }

    .mc-field-group {
        margin-right: 0px;
        margin-bottom: 20px;
    }

}

@media (max-width: 360px) {

    .noe-big {
        font-size: 2rem;
        line-height: 1;
        font-family: 'Noe-Display';
        color: #fff;
    }

    .karla-small {
        font-size: 0.5rem;
    }

    .karla-medium {
        font-size: 0.9rem;
    }

    .shop-sub {
        margin: 0.5rem 1.5rem;
    }

}

@media (max-height: 600px) {

    .noe-big {
        font-size: 2rem;
        line-height: 1;
        font-family: 'Noe-Display';
        color: #fff;
    }

    .karla-small {
        font-size: 0.5rem;
    }

    .karla-medium {
        font-size: 0.9rem;
    }

    .shop-sub {
        margin: 0.5rem 1.5rem;
    }
}


@media (min-width: 1280px) {

    .frase-iniziale {
        padding: 15% 18% 4% 18%;
    }

    .about {
        padding: 0% 24% 4% 24%;
    }
}

@media (min-width: 1400px) {

    .frase-iniziale {
        padding: 15% 20% 4% 20%;
    }

    .about {
        padding: 0% 26% 4% 26%;
    }
}

@media (min-width: 1500px) {

    .frase-iniziale {
        padding: 15% 22% 4% 22%;
    }

    .about {
        padding: 0% 28% 4% 28%;
    }
}

@media (min-width: 1600px) {

    .frase-iniziale {
        padding: 15% 24% 4% 24%;
    }

    .about {
        padding: 0% 30% 4% 30%;
    }
}

@media (min-width: 1700px) {

    .frase-iniziale {
        padding: 15% 26% 4% 26%;
    }

    .about {
        padding: 0% 32% 4% 32%;
    }
}
